:root {
  --f-fontcolor: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  color: var(--f-fontcolor);
  font-size: 14pt;
  font-weight: bold;
  font-family: 'Helvetica', 'Arial', sans-serif;
}