:root {
  --p-fontcolor: #E6E6FA;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  color: var(--p-fontcolor);
  /* font-family: 'Helvetica', 'Arial', sans-serif; */
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2em;
  font-size: 7pt;
  
}