:root {
  --p-fontcolor: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body {
  color: var(--p-fontcolor);
  /* font-family: 'Helvetica', 'Arial', sans-serif; */
  font-family: 'Ubuntu Condensed';
  /* font-weight: normal; */
  /* font-size: 9.3em; */
}